<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958846460808-028ustankn6gjb9q6kk3i4qcv4d0dc15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958846460808-028ustankn6gjb9q6kk3i4qcv4d0dc15</string>
	<key>API_KEY</key>
	<string>AIzaSyDnyk1Nb-YLauc8OX3vHdOd6MsQ4pzOEZs</string>
	<key>GCM_SENDER_ID</key>
	<string>958846460808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotes</string>
	<key>PROJECT_ID</key>
	<string>lvnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>lvnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958846460808:ios:7e306007fa0b7d966a103d</string>
</dict>
</plist>